
* {
    margin: 0;
    font-family: Michroma
}

body {
  
  margin-top: 60px;  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("pq.jpg");
background-size: cover;

}

h1 {
    color: aliceblue;
    border-style: dashed;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}

p {
    background-color: #ffffff25;
    font-size: 18px;
    margin: 25px;
    padding: 10px;
    color: #ffffff;
    border-radius: 50px;
    padding: 30px;

}

button {
    color: #DDB176;
    background-color: oldlace;
    font-size: 25px;
    border-radius: 25px;
    padding: 20px;




}

button:hover{
    color: oldlace;
    background-color: #DDB176;
}

button:active {
color: blue;
background-color: 
}
nav {
    text-align: center;
    word-spacing: 20px;
}
a {
    color: aliceblue;
text-decoration: none;
}
a:hover {
    color: #DDB176;
}
p:hover {background-color: #DDB176;}
